main.main {
  padding: var(--margin);
  height: 100%;
  min-height: 100vh;
  /* min-height: var(--content-vh); */
  display: flex;

  justify-content: center;
  flex-direction: column;
}

.announcement_container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

@media screen and (min-width: 769px) {
  .announcement_container {
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
  }

  .announcement_container br {
    display: none;
  }
}

/* Desktop */
@media screen and (min-width: 1280px) {
}
