.project {
  height: 80vh;
  width: 100vw;
  position: relative;
  left: calc(-1 * var(--margin-page));
  overflow: hidden;
}

.projectStage {
  position: relative;
  height: 100%;
  width: 100%;
}

.project:nth-child(1) {
  background: red;
}
.project:nth-child(2) {
  background: blue;
}

.projectInfo {
  position: absolute;
  top: 0;
  left: 0;
  width: 25vw;
  height: 100%;
  z-index: 2;
  padding: var(--margin-page);
  background: var(--background);
  overflow-y: auto;
}

.projectInfoTitle {
  margin-bottom: var(--margin-2);
}

.projectDescription {
  white-space: pre-wrap;
  padding-top: 50px;
}

.projectCarouselWrap {
  height: 100%;
  width: 100%;
  will-change: transform;
}

.projectHeaderLayer {
  position: absolute;
  inset: 0;
  z-index: 4;
  pointer-events: none;
}

.projectHeader {
  position: absolute;
  top: 0;
  left: 0;
  padding: var(--margin-page);
  will-change: transform;
}

button.toggleInfo {
  position: absolute;
  top: 0;
  left: 0;
  padding: var(--margin-page);
  z-index: 10;
  cursor: pointer;
  pointer-events: all;
}
