.project {
  height: 80vh;
  width: 100vw;
  position: relative;
  left: calc(-1 * var(--margin-page));
  overflow: hidden;
}

.project:nth-child(1) {
  background: red;
}
.project:nth-child(2) {
  background: blue;
}

.projectHeaderLayer {
  position: absolute;
  inset: 0;
  z-index: 3;
  pointer-events: none;
}

.projectHeader {
  position: absolute;
  top: 0;
  left: 0;
  padding: var(--margin-page);
  will-change: transform;
}

button.toggleInfo {
  position: absolute;
  top: 0;
  left: 0;
  padding: var(--margin-page);
  z-index: 10;
  cursor: pointer;
  pointer-events: all;
}
