:root {
  --font-size-body: 1.5rem;
  --line-height-body: 1.7rem;
  --letter-spacing-body: 0.03rem;
  --paragraph-spacing-body: 0;
}

@font-face {
  font-family: "SaansRegular";
  src: url("/fonts/Saans-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "SaansSemiBold";
  src: url("/fonts/Saans-SemiBold.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@media screen and (min-width: 320px) {
}

/* iPads and other Tablets */
@media screen and (min-width: 769px) {
  :root {
    --font-size-body: 1.7rem;
    --line-height-body: 1.9rem;
  }
}

/* Desktop */
@media screen and (min-width: 1280px) {
}

/* Large Format Screens */
@media screen and (min-width: 2560px) {
}
